<!doctype html>
<html>

<head>
    <title>Egyptian Art Through the Millennia</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="img/style.css">
</head>

<body>

    <% for(let i=0; i < art.length; i++){ %>
        <a href="/object/<%= art[i].objectID %>"><img src="<%= art[i].primaryImageSmall %>" class="art"></a>
        <% } %>

</body>

</html>